@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, STHeiTi,"Microsoft Yahei", sans-serif; 
	color: #333333;
	background-color: #fff;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.otc-body {
	width: 1180px;
	margin: 20px auto;
	min-height: 800px;
}