@import "_theme.scss";

.trans-header {
	font-size: 20px;
	border-left: 3px solid $theme-color;
	line-height: 20px;
	padding-left: 10px;
	margin-bottom: 20px;
}

.trans-table {
	.ant-tabs {
		border: 1px solid $border-color;
		border-bottom: none;
		margin-bottom: -17px;
		background: #fff;
	}
}